name: ci

on:
  push:
    branches: [main]
  pull_request: {}

jobs:
  format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install dependencies
        run: npm ci --ignore-scripts

      - name: Format the code
        run: npm run format:check

      - name: Lint the code
        run: npm run lint

  check-dist:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install dependencies
        run: npm ci --ignore-scripts

      - name: Rebuild the dist
        run: npm run build

      - name: Compare the expected and actual dist directories
        run: |
          if [ "$(git diff --ignore-space-at-eol ${{inputs.dist-path}} | wc -l)" -gt "0" ]; then
            echo 'Some files needs to be rebuilt (`npm run build`). See the status below:' >> $GITHUB_STEP_SUMMARY
            echo '```diff' >> $GITHUB_STEP_SUMMARY
            git diff --stat >> $GITHUB_STEP_SUMMARY
            echo '```' >> $GITHUB_STEP_SUMMARY
            exit 1
          fi

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Risor
        uses: ./

      - shell: risor {0}
        run: |
          array := ["gophers", "are", "burrowing", "rodents"]

          sentence := array | strings.join(" ") | strings.to_upper

          print(sentence)
